<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <header>header</header>
    <nav>Navigation</nav>
    <main class="container has-background-danger">
        <h1 class="is-size-1">Bulma playground</h1>
    </main>
    <aside>put github here</aside>
    <footer>Footer</footer>
</body>

</html>