<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/navigation") %>
    <main class="container">
        <h1 class="is-size-1">Bulma playground</h1>
    </main>
    <aside>put github here</aside>
    <%- include("partials/footer") %>

    <script src="/scripts/bulma.js"></script>
</body>

</html>